__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
node_modules/
*.db
*.sqlite
*.sqlite3
.env
.venv/
venv/
*.log
.idea/
.vscode/
*.swp
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.o
*.obj
*.a
*.lib
*.exe
*.dll
*.so
*.dylib
compile_commands.json
