# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
*.egg
.eggs/
*.whl
venv/
env/
.venv/

# Logs
logs/
*.log

# Environment
.env
.env.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# Node
node_modules/
frontend/build/
frontend/node_modules/

# Docker volumes
es_data/

# OS
Thumbs.db
.DS_Store
