@page "/Error"
<PageTitle>Error</PageTitle>

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<p>
    <strong>Development Mode</strong>
</p>
<p>
    Switches to the <code>Development</code> environment to see detailed errors.
</p>
<p>
    For more information on how to configure the
</p>
<p>
    your app and debug more detailed errors,
</p>
<p>
    contact your system administrator.
</p>
