SMB_SERVER=192.168.1.100
SMB_PORT=445
SMB_USERNAME=admin
SMB_PASSWORD=your_password
SMB_DOMAIN=CORP
SMB_SHARE=SharedFiles

ELASTICSEARCH_HOSTS=http://localhost:9200
ELASTICSEARCH_USER=elastic
ELASTICSEARCH_PASSWORD=your_elastic_password

API_HOST=0.0.0.0
API_PORT=8000
