@using Microsoft.AspNetCore.Components.Routing

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">OPC UA 采集网关</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> 仪表盘
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="devices">
                <span class="oi oi-cog" aria-hidden="true"></span> 设备管理
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="datapoints">
                <span class="oi oi-list" aria-hidden="true"></span> 点位映射
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="alerts">
                <span class="oi oi-warning" aria-hidden="true"></span> 告警配置
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="certificates">
                <span class="oi oi-lock-locked" aria-hidden="true"></span> 证书管理
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="rules">
                <span class="oi oi-code" aria-hidden="true"></span> 规则引擎
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}